/* color palette from <https://github.com/vuejs/theme> */
:root {
  font-size: 16px;
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-weight: normal;
}

@font-face {
  font-family: 'VazirBold';
  src: url('./fonts/vazir/Vazir-Bold-FD-WOL.woff2');
}

@font-face {
  font-family: 'Vazir';
  src: url('./fonts/vazir/Vazir-FD-WOL.woff2');
}

@font-face {
  font-family: 'VazirLight';
  src: url('./fonts/vazir/Vazir-Light-FD-WOL.woff2');
}

@font-face {
  font-family: 'VazirMedium';
  src: url('./fonts/vazir/Vazir-Medium-FD-WOL.woff2');
}

@font-face {
  font-family: 'VazirThin';
  src: url('./fonts/vazir/Vazir-Thin-FD-WOL.woff2');
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  letter-spacing: inherit;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}